{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}


{% block body %}
    <h1>Media index</h1>

    {% include "medium/_table.html.twig" %}

    <a class="btn btn-primary" href="{{ path('media_new') }}"><span class="fas fa-plus"></span>New  Media</a>
{% endblock %}
